<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Добавление фильма</title>
</head>
<body>
<a href="/">На главную</a>

<form action="post" method="post">

    <input type="text" name="title">

    {{!-- <div class="form-group">
        <label for="content">Содержимое заметки</label>
        <input class="form-control" type="text" name="content" placeholder="Содержимое">
    </div> --}}

    <button type="submit" class="btn btn-primary">Добавить</button>
</form>

</body>
</html>