<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Добавление фильма</title>
</head>
<body>
<a href="/">На главную</a>

<div class="container" style="width: 600px">

    <h1>ДОБАВЛЕНИЕ ФИЛЬМА</h1>

    <form action="post" method="post">

        <div class="form-group">
            <label for="content">Название фильма</label>
            <input class="form-control" type="text" name="title" placeholder="название">
        </div>

        <div class="form-group">
            <label for="content">Описание фильма</label>
            <input class="form-control" type="text" name="description" placeholder="содержимое">
        </div>

        <div class="form-group">
            <label for="content">Ссылка на постер фильма</label>
            <input class="form-control" type="text" name="poster" placeholder="ссылка на постер">
        </div>

        <div class="form-group">
            <label for="content">Ссылка на трейлер фильма</label>
            <input class="form-control" type="text" name="url" placeholder="ссылка на трейлер">
        </div>

        <div class="form-group">
            <label for="content">Дата когда мы идём</label>
            <input class="form-control" type="date" name="datetime">
        </div>

        <button type="submit" class="btn btn-primary">Добавить</button>
    </form>

</div>

</body>
</html>